In [1]:
# genre feature training

In [53]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
import numpy as np
pd.options.display.max_columns = 10000

In [60]:
#read in new df from preprocessing
df = pd.read_csv('df.csv', index_col=0)

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2,3,4,19,20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [62]:
df.head()

,Unnamed: 0.1,title,year,director,running_time,views,likes,avg_rating,half_star,one_star,one_half_star,two_star,two_half_star,three_star,three_half_star,four_star,four_half_star,five_star,genre,year_isna,animation,horror,scifi,thriller,war
0,0.0,Get Out,2017-01-01,Jordan Peele,104.0,605132.0,261668.0,4.1,647.0,1560.0,1001.0,5727.0,5821.0,34069.0,45053.0,136842.0,65726.0,110264.0,horror,False,NaN,NaN,NaN,NaN,NaN
1,1.0,Zombieland,2009-01-01,Ruben Fleischer,88.0,339357.0,77110.0,3.6,477.0,1384.0,1353.0,6280.0,9055.0,37228.0,43168.0,53117.0,10931.0,11907.0,horror,False,NaN,NaN,NaN,NaN,NaN
2,2.0,Suspiria,2018-01-01,Luca Guadagnino,152.0,122728.0,37820.0,3.7,611.0,1253.0,1266.0,4151.0,4844.0,12282.0,15033.0,25865.0,13732.0,12889.0,horror,False,NaN,NaN,NaN,NaN,NaN
3,3.0,Halloween,1978-01-01,John Carpenter,91.0,212751.0,59124.0,4.0,204.0,700.0,602.0,3003.0,3627.0,15715.0,17598.0,35627.0,14882.0,29077.0,horror,False,NaN,NaN,NaN,NaN,NaN
4,4.0,Rosemary's Baby,1968-01-01,Roman Polanski,137.0,158689.0,46272.0,4.2,156.0,372.0,253.0,1326.0,1412.0,6933.0,9562.0,27455.0,18616.0,24435.0,horror,False,NaN,NaN,NaN,NaN,NaN

In [63]:
df.describe(include='all')

,Unnamed: 0.1,title,year,director,running_time,views,likes,avg_rating,half_star,one_star,one_half_star,two_star,two_half_star,three_star,three_half_star,four_star,four_half_star,five_star,genre,year_isna,animation,horror,scifi,thriller,war
count,40018.000000,40018,40018,40018,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018,40018,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000
unique,NaN,30378,130,16293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,2,NaN,NaN,NaN,NaN,NaN
top,NaN,Frankenstein,2017-01-01,directorNA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,thriller,False,NaN,NaN,NaN,NaN,NaN
freq,NaN,18,1798,382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12836,39998,NaN,NaN,NaN,NaN,NaN
mean,4892.286471,NaN,NaN,NaN,80.726548,6826.995702,1316.224424,2.972707,54.423484,111.778300,105.667125,293.829577,309.652281,720.899595,614.732420,820.867235,299.167150,403.334599,NaN,NaN,0.202984,0.276176,0.145609,0.320756,0.054475
std,3334.753389,NaN,NaN,NaN,42.044645,34009.245241,9260.254979,0.473895,329.131089,570.423667,474.780097,1275.813010,1253.326690,3208.731177,2979.839044,5347.700701,2518.510737,4304.396370,NaN,NaN,0.402225,0.447110,0.352719,0.466773,0.226956
min,0.000000,NaN,NaN,NaN,1.000000,33.000000,0.000000,0.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2000.250000,NaN,NaN,NaN,73.000000,109.250000,11.000000,2.700000,1.000000,2.000000,3.000000,8.000000,8.000000,13.000000,7.000000,4.000000,1.000000,1.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4457.000000,NaN,NaN,NaN,90.000000,288.000000,34.000000,3.000000,4.000000,8.000000,9.000000,20.000000,21.000000,36.000000,22.000000,15.000000,3.000000,4.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000
75%,7335.000000,NaN,NaN,NaN,100.000000,1271.000000,165.000000,3.300000,16.000000,31.000000,33.000000,82.000000,90.000000,172.000000,113.000000,87.000000,18.000000,22.000000,NaN,NaN,0.000000,1.000000,0.000000,1.000000,0.000000
max,12835.000000,NaN,NaN,NaN,897.000000,719791.000000,286934.000000,4.600000,26627.000000,41716.000000,25062.000000,49076.000000,32039.000000,71584.000000,63621.000000,136870.000000,90025.000000,243931.000000,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000

In [66]:
df.isna().sum()

Unnamed: 0.1       40018
title              40018
year               40018
director           40018
running_time       40018
views              40018
likes              40018
avg_rating         40018
half_star          40018
one_star           40018
one_half_star      40018
two_star           40018
two_half_star      40018
three_star         40018
three_half_star    40018
four_star          40018
four_half_star     40018
five_star          40018
genre              40018
year_isna          40018
animation          40018
horror             40018
scifi              40018
thriller           40018
war                40018
dtype: int64

In [73]:
# genre feature model training

In [51]:
model = LinearRegression()

In [52]:
X = df['likes']

KeyError: 'likes'

In [76]:
y = df_genres['avg_rating']

In [77]:
X_train_true, X_test_true, y_train_true, y_test_true = train_test_split(X, y, test_size = 0.3, random_state=42)

In [78]:
model.fit(X_train_true, y_train_true)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [79]:
y_test_pred = model.predict(X_test_true)

In [80]:
model.score(X_test_true, y_test_true)

0.1145999775841765

In [81]:
# predictive power for this feature
model.coef_

array([1.74025528e+11, 1.74025528e+11, 1.74025528e+11, 1.74025528e+11,
       1.74025528e+11])

In [83]:
pd.Series(y_test_pred).unique()

array([2.93945312, 2.81246948, 2.90005493, 3.2215271 , 3.27639771])

In [84]:
rmse = np.sqrt(mean_squared_error(y_test_true, y_test_pred))
rmse

0.4487173642695912

In [86]:
y_error = y_test_pred - y_test_true
y_error

6070     0.439453
5811    -0.160547
2299     0.312469
8671    -0.087531
12409   -0.760547
           ...
5468    -0.378473
6280     0.212469
5953    -0.587531
5795    -0.099945
8192    -0.060547
Name: avg_rating, Length: 12006, dtype: float64

In [87]:
standard_error = ((y_error**2).mean())**0.5
standard_error

0.44871736426958847

In [ ]:
plt.plot(X_test_true, model.predict(X_test_true), color='red',linewidth=3)
plt.show()