In [1]:
# genre feature training

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
import numpy as np
pd.options.display.max_columns = 10000

/Users/juliamyers/anaconda3/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [ ]:
#read in new df from preprocessing
df = pd.read_csv(df_genres.csv)

In [61]:
df_genres.head()

,title,year,director,running_time,views,likes,avg_rating,half_star,one_star,one_half_star,two_star,two_half_star,three_star,three_half_star,four_star,four_half_star,five_star,genre
0,Get Out,2017.0,Jordan Peele,104,605132,261668,4.1,647,1560,1001,5727,5821,34069,45053,136842,65726,110264,horror
1,Zombieland,2009.0,Ruben Fleischer,88,339357,77110,3.6,477,1384,1353,6280,9055,37228,43168,53117,10931,11907,horror
2,Suspiria,2018.0,Luca Guadagnino,152,122728,37820,3.7,611,1253,1266,4151,4844,12282,15033,25865,13732,12889,horror
3,Halloween,1978.0,John Carpenter,91,212751,59124,4.0,204,700,602,3003,3627,15715,17598,35627,14882,29077,horror
4,Rosemary's Baby,1968.0,Roman Polanski,137,158689,46272,4.2,156,372,253,1326,1412,6933,9562,27455,18616,24435,horror

In [62]:
df_genres.describe(include='all')

,title,year,director,running_time,views,likes,avg_rating,half_star,one_star,one_half_star,two_star,two_half_star,three_star,three_half_star,four_star,four_half_star,five_star,genre
count,40018,39998.00000,39636,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018.000000,40018
unique,30378,NaN,16292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
top,Frankenstein,NaN,Chuck Jones,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,thriller
freq,18,NaN,221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12836
mean,NaN,1994.90747,NaN,80.726548,6826.995702,1316.224424,2.972707,54.423484,111.778300,105.667125,293.829577,309.652281,720.899595,614.732420,820.867235,299.167150,403.334599,NaN
std,NaN,23.84132,NaN,42.044645,34009.245241,9260.254979,0.473895,329.131089,570.423667,474.780097,1275.813010,1253.326690,3208.731177,2979.839044,5347.700701,2518.510737,4304.396370,NaN
min,NaN,1885.00000,NaN,1.000000,33.000000,0.000000,0.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,NaN,1982.00000,NaN,73.000000,109.250000,11.000000,2.700000,1.000000,2.000000,3.000000,8.000000,8.000000,13.000000,7.000000,4.000000,1.000000,1.000000,NaN
50%,NaN,2004.00000,NaN,90.000000,288.000000,34.000000,3.000000,4.000000,8.000000,9.000000,20.000000,21.000000,36.000000,22.000000,15.000000,3.000000,4.000000,NaN
75%,NaN,2014.00000,NaN,100.000000,1271.000000,165.000000,3.300000,16.000000,31.000000,33.000000,82.000000,90.000000,172.000000,113.000000,87.000000,18.000000,22.000000,NaN
max,NaN,2021.00000,NaN,897.000000,719791.000000,286934.000000,4.600000,26627.000000,41716.000000,25062.000000,49076.000000,32039.000000,71584.000000,63621.000000,136870.000000,90025.000000,243931.000000,NaN

In [73]:
# genre feature model training

In [74]:
model = LinearRegression()

In [75]:
X = pd.get_dummies(df_genres['genre'])
X

      animation  horror  scifi  thriller  war
0             0       1      0         0    0
1             0       1      0         0    0
2             0       1      0         0    0
3             0       1      0         0    0
4             0       1      0         0    0
...         ...     ...    ...       ...  ...
8118          1       0      0         0    0
8119          1       0      0         0    0
8120          1       0      0         0    0
8121          1       0      0         0    0
8122          1       0      0         0    0

[40018 rows x 5 columns]

In [76]:
y = df_genres['avg_rating']

In [77]:
X_train_true, X_test_true, y_train_true, y_test_true = train_test_split(X, y, test_size = 0.3, random_state=42)

In [78]:
model.fit(X_train_true, y_train_true)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [79]:
y_test_pred = model.predict(X_test)

In [80]:
model.score(X_test, y_test_true)

0.1145999775841765

In [81]:
# predictive power for this feature
model.coef_

array([1.74025528e+11, 1.74025528e+11, 1.74025528e+11, 1.74025528e+11,
       1.74025528e+11])

In [83]:
pd.Series(y_test_pred).unique()

array([2.93945312, 2.81246948, 2.90005493, 3.2215271 , 3.27639771])

In [84]:
rmse = np.sqrt(mean_squared_error(y_test_true, y_test_pred))
rmse

0.4487173642695912

In [86]:
#
y_error = y_test_pred - y_test_true
y_error

6070     0.439453
5811    -0.160547
2299     0.312469
8671    -0.087531
12409   -0.760547
           ...
5468    -0.378473
6280     0.212469
5953    -0.587531
5795    -0.099945
8192    -0.060547
Name: avg_rating, Length: 12006, dtype: float64

In [87]:
standard_error = ((y_error**2).mean())**0.5
standard_error

0.44871736426958847

In [ ]:
#compute z score

In [ ]:
# cv_scores = cross_val_score(model, X, y, cv=5)
# np.mean(cv_scores)

In [ ]:
#compute z score?

In [ ]:
#conclusion - using genre to predict rating is ineffective

In [ ]:
# year feature model training

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=42)

In [ ]:
model.fit(X_train, y_train)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
model.score(X_test, y_test)